body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif ;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #00ffff;
    color:#000;
    padding: 20px;
    text-align: center;
    border: 5px solid #000000; 
}


.foto-eu {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-size: cover;
    text-align: center;
}
.git-icon , .link-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: cover;
    margin: 0 10px;
    text-align: center;
}

.git-icon {
    background-image: url(Icones/github.png);
    text-align: center;
}

.link-icon {
    background-image: url(Icones/linkedln.png);
    text-align: center;
}

.jaguanum-projeto, .copiar-site {
display: inline-block;
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: 0 10px;
    text-align: center;
}

.jaguanum-projeto {
    background-image: url(Projetos/jaguanum.png);
    text-align: left;
}

.copiar-site {
    background-image: url(Projetos/perl.png);
    text-align: left;
}

.texto-intro {
    line-height: 1.5; 
    color: #000; 
    margin-bottom: 20px;
    text-align: left;
}


section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: 5px solid #000000; 
}
    
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .foto-eu {
        width: 100px;
        heigth: 100px;
    }
    .git-icon,
    .link-icon {
        width: 50px;
        height: 50px;
    }

    section {
        padding: 10px;
    }

}