body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: rgb(0, 0, 0);
    background-color: #F4F1E8;
}

header {
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #F4F1E8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;;
    font-size: 45px;
    margin-right: 20px;
}

.foto {
    width: 200px; 
    height: auto;
}


section {
    color: rgb(0, 0, 0);
    background-color: #F4F1E8;
    max-width: 1060px;
    margin: 10px auto;
    padding: 20px;
}

.introdução {
    font-family: "Corben", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: justify;
    text-align-last: left;
}

.projetos-a a {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.porta-scanner {
    background-image: url(Img/porta\ scanner.png);
}

.tecnico-enfermagem {
    background-image: url(Img/tec\ enfermagem.png);
}

.criador-lista {
    background-image: url(Img/criador\ lista.png);
}


footer {
    color: rgb(0, 0, 0);
    background-color: #F4F1E8;
    text-align: center;
    padding: 10px;
}

.rede-socias a {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
}

.instagram {
    background-image: url(Img/instagram.gif);
    text-align: center;
}

.github {
    background-image: url(Img/github.gif);
    text-align: center;
}

.linkedin {
    background-image: url(Img/linkedin.gif);
    text-align: center;
}


