body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    background-color: #000;
}

header {
    background-color: #000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

section {
    background-color: #000000;
    max-width: 400px;
    margin: 10px auto;
    padding: 20px; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.linguagens, .projetos {
    display: inline-block;
    text-align: center; 
}

.projetos a {
    display: inline-block; 
    width: 100px; 
    height: 100px; 
    margin: 10px; 
    background-size: cover;
}

.jaguanum {
    background-image: url('Img/jaguanumlixozero.png');
}

.gstore {
    background-image: url('');
}

.tec-enfermagem {
    background-image: url('');
}

.copiar-site {
    background-image: url('');
}



footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
